		<%if (isAdminLogged) {%>
		    <a id="addArticle" href="#">Dodaj artykuł</a>
		    <script>
			$('#addArticle').click(function(){
			hideContent('/editNews/news');
			});
		    </script>
		<%}%>
		<div id="history">
		    <ul>
			<li>Archiwum
			    <ul>
		    <% for(var i=0; i<newsList.length; i++) { 
			data = new Date(newsList[i].time);
			
			%>
			<li>
			    <a href="/news/<%=newsList[i].id%>"><%=:newsList[i].time | formatDate%> <%= newsList[i].title %></a>
			</li>
		    <%}%>
			</ul>
		    </li>
		    </ul>
		    <% if (newsList.length == 0) {%>
			<p class="opis">Nie zdefiniowano jeszcze żadnego newsa</p>
		    <%}%>
		</div>
		<script>
		    $('#history').find('a').click(function(event){
			event.preventDefault();
			hideContent($(this).attr('href')+'/news');
		    });
		
		</script>